/*reset*/
*{
    margin: 0;
    padding: 0;
}

/*estilos de header*/
header{
    background-color: rgb(0, 0, 0) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
  }
    header nav ul{
        list-style: none;
        display: flex;
        gap: 60px;
    }
     header nav ul li{ 
        background-color: rgb(255, 0, 255);
        padding: 20px;
        border-radius: 30px;
     }

/*estilos de main*/
main{
height: 500px;
background-color: aquamarine;
padding: 10px;
background-image: url("../img/jpg/posiblefondo2.jpg");
background-repeat:no-repeat;
background-size: cover;
background-position: center;
text-align:center;


}

footer{
    height: 500px; 
    background-color: rgb(0, 0, 0) ;
    text-align: center;
}